* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Domine:wght@700&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 1rem;
    font-family: 'Archivo Narrow', sans-serif;
}

header {
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

a {
    color: white;
    text-decoration: none;
}


.header-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-block: 1em;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 0.7em;
}

main {
    padding-top: 80px;
}

li:hover {
    text-decoration: underline;
    background-color: grey;
    cursor: pointer;
}

#user:hover {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid lightgray;
    cursor: pointer;
    background-color: lightgray;
    font-size: 30px;
    z-index: 5;
}





header ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

/* .login {
    display: none;
} */

.login {
    position: fixed;
    background-color: lightgray;
    Visibility: hidden;
}

.cart {
    visibility: hidden;
    position: fixed;
    right: 1.3%;
    padding: 10px;
    margin-top: -10px;
}

.cart-container {

    background-color: lightgray;
    color: black;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

i.fa-regular {
    padding: 5px;
}

.fa-user:hover,
.fa-bag-shopping {
    cursor: pointer;
}

.fa-bag-shopping:hover~.cart {
    visibility: visible;
}

.cart:hover {
    visibility: visible;
}

.login:hover {
    visibility: visible;
}


.fa-user:hover~.login {
    visibility: visible;
}


header img {
    width: 20%;
}

header a {
    text-align: center;
}


.login p {
    color: black;
}

.login-container {
    border: 1px solid black;
    padding: 20px;
    z-index: -1;
}

.login span a {
    color: purple;
}

.login button {
    display: block;
    width: 100%;
    background-color: #1a1a1a;
    font-size: 16px;
    padding-block: 5px;
    margin-bottom: 5px;
}

.icon-container i {
    padding-inline: 2px;
}




.card {
    flex-basis: calc(100% / 3 - 1em)
}

.item-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-block: 8em; */
    row-gap: 2em;
}

.card img {
    width: 100%;
}

main {
    margin-top: 8em;
    margin-bottom: 4em;
}

.pic-container {
    position: relative;
}

.discount {
    background: #ff0000;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 6%;
    z-index: 2;
}

.sustain {
    background: #008000;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    left: 14.5%;
    bottom: 6%;
    z-index: 2;
}

.heart {
    position: absolute;
    right: 0;
    top: 2%;
    background-color: white;
    color: black;
    font-size: 1.5em;
    padding: 0.5em;
    fill: black;
}


.name {
    font-weight: bolder;
}

.new-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}

footer {
    background-color: #1a1a1a;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
}

.footer-info h3 {
    padding-bottom: 0.5em;
}

.social-contaienr h5 {
    padding-bottom: 0.7em;
}

.footer-info ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.social-icons i {
    padding-inline: 0.15em;
    font-size: 1.1rem;
}

.sustain.attached {
    left: 0;
}

.heart:hover {
    color: red;
    cursor: pointer;
    background-color: gray;
}

.pic-container:hover .hidden {
    z-index: 0;
    cursor: pointer;
}


.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.up {
    position: fixed;
    bottom: 2%;
    right: 2%;
    color: white;
    background-color: #1a1a1a;
    padding: 5px 15px;
    border: 1px solid white;
}