* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    top: 0;
}



.header-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-block: 1em;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 0.7em;
}

header ul a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

header img {
    width: 12%;
}

.icon-container svg {
    fill: white;
    padding-inline: 2px;
}




.card {
    flex-basis: calc(100% / 3 - 1em)
}

.item-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-block: 8em; */
    row-gap: 2em;
}

.card img {
    width: 100%;
}

main {
    margin-top: 8em;
    margin-bottom: 4em;
}

.pic-container {
    position: relative;
}

.discount {
    background: #ff0000;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 6%;
}

.sustain {
    background: #008000;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    left: 14.5%;
    bottom: 6%;
}

.heart {
    position: absolute;
    right: 0;
    top: 2%;
    background-color: white;
    color: black;
    font-size: 1.5em;
    padding: 0.5em;
    fill: black;
}


.name {
    font-weight: bolder;
}

.new-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}

footer {
    background-color: #1a1a1a;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
}

.footer-info h3 {
    padding-bottom: 0.5em;
}

.social-contaienr h4 {
    padding-bottom: 0.5em;
}

.footer-info ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.social-icons i {
    padding-inline: 0.15em;
    font-size: 1.1rem;
}